# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
# /.next/ we will build on dev machine to save mem
# custom build output folder
/.next-dev/
/out/

# production
/build
# /server/index-es5.js we will build on dev machine to save mem

# dev
/server/index-es5-dev.js

# misc
.DS_Store
*.pem
*.heapsnapshot

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# vscode
.history
.kilocode

todo
plans

# integration tests
tests/integration/relay-tester/target/
